<footer>
  <div class="wrapper">
      <ul class="footer-links-main">
        <li><h6>NECESITAS AYUDA?</h6></li>
        <li><a href="#">0264 123 4567</a></li>
        <li><a href="#">enquiry@geekshubstravels.com</a></li>
        <li><a href="#">Lun-Vie. 9.30 - 19.00 Sab. 10.00 - 14.00</a></li>
      </ul>

      <ul class="footer-links-cases">
        <li><h6>INFORMACION</h6></li>
        <li><a href="#">Quien somos</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Politica de privacidad</a></li>
        <li><a href="#">Condiciones generales</a></li>
        <li><a href="#">Aviso legal</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Programa de puntos</a></li>
      </ul>

      <ul>
        <li><h6>ESCRIBETE A LA NEWSLETTER</h6></li>
        <li><input type="text" placeholder="correo electronico"></li><br>
        <li><button>SUSCRIBETE</li>
      </ul>
  </div>
</footer>
