<section class="viajes">
  <div class="viaje">
    <div class="title">Ahorra mucho dinero</div>
    <div class="price">400 €</div>
    <div><img src="https://source.unsplash.com/200x100/?london,skyline"/></div>
    <div class="sitio">Londres</div>
  </div>
  <div class="viaje">2</div>
  <div class="viaje">3</div>
  <div class="viaje">4</div>
  <div class="viaje">5</div>
  <div class="viaje">6</div>
</section>

<section class="about">
  <div class="filter">
    <div class="about_description col-4">
      <h1>prueba</h1>
    </div>
  </div>
</section>

<section class="contact">

</section>
