<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/vendors/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script type="text/javascript" src="/public/vendors/jquery/dist/jquery.js">
    </script>
  </body>
</html>
