<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/vendors/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="container-fluid">
      {{>header}}
      {{{body}}}
      {{>footer}}
    </div>
    <script type="text/javascript" src="/public/vendors/jquery/dist/jquery.js">
    </script>
    <script type="text/javascript" src="/public/vendors/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
