{{#with travels}}
    <div class="row detailTravel">
      <div class="col 6"><img class="img-fluid" src="{{img}}"/></div>
      <div class="col 6 descriptionTravel">
        <div><h1>Viaje: {{name}}</h1></div>
        <div><h1>Precio: {{price}}</h1></div>
        <div><h1>Descripcion: {{text}}</h1></div>
        <button class="button" type="button" name="button">Compra</button>
      </div>
    </div>
{{/with}}
