{{#with travels}}

        <div class="row detailtravel">
            <div class="col 6"><img class="img-fluid" src="{{img}}"/></div>
            <div class="col 6 descriptionTravel">
                <div> <h1>Viaje: </h1> {{ name }}</div>
                <div><h1>Precio: </h1>{{ price }} €</div>

                    <div><h1>Descripción: </h1>{{ text }}</div>

            </div>

        </div>
{{/with}}
