body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container-fluid{
  padding:0px;
}
.navbar{
  /*background-color: rgba(266,266,266,0.3);*/
  background-color: rgba(266,266,266,0.8);
}
#navbarNav{
  padding-left: 30%;
}
.wrapperHeader{
  min-height: 460px;
  background: url('../images/back.jpeg') center center no-repeat;
  background-size: cover;
  font-size: 27px;
  text-emphasis-color: white;
  text-shadow: 0.5;
}

button {
  background-color: yellow;
  padding: 5px
}
footer h6 {
  margin-bottom: 15px;
}
.viajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.viaje {
  font-size: 27px;
  width: 30%;
  margin: 1.5%;
  background-color: black;
  position: relative;
  min-width: 300px;
}


.viaje img {
  width: 100%;
}
.title {
  padding: 13px;
  padding-right: 40%;
  color: white;
  background-color: #141939;
  font-size: 1.1em;
}

.title3 {
  padding: 13px;
  padding-right: 40%;
  color: white;
  background-color: red;
  font-size: 1.1em
}

.price {
  background-color: yellow;
  font-size: 2.0em;
  width: 40%;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.sitio {
  padding: 20px 10px;
  background-color: white;
  font-size: 37px;
  font-weight: bold;
}
.about{
  min-height: 400px;
  background: url('../images/madrid.JPG') center center no-repeat;
  background-size: cover;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}
.filter
{
  min-height: 400px;
  width:100%;
  background-color:rgba(23,45,667,0.4);
}
.about_description {
  margin: 10%;
  background-color: white;
  min-height: 200px!important;
  width:600px;
}

.btn-descubri {
  background-color: #141939;
  color: yellow;
  padding: 10px;
  margin: 10px;
}

.contact {
  background-color: white;
  min-height: 400px;
  margin-top: 10px!important;
}

/*.contact #separacion {
  margin-top:  5px;
}*/

.contact input {
  margin-bottom: 5px;
}

.contact a {
  color:black;
}

.contact a:hover {
  color: black;
}

.infoContact{
  margin: 15px;
}

.contact hr{
  height: 2px;
  margin-left: 0px;
  width: 30px;
  background-color: blueviolet;
}

.text-justify {
  font-size: 20px;
}

footer {
  width: 100%;
  padding: 20px 20px;
  margin-top: 20px;
  background-color: #141939;
  overflow: hidden;
  color: white;
}
footer .wrapper {
  display: flex;
  justify-content: center;
}
footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
footer li {
  list-style: none;
}
footer a {
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.footer-links-cases {
  display: block;
}
footer a:hover {
  color: white;
}

<<<<<<< HEAD
.detailtravel img{


      margin-left:2%;
      margin-top:2%;

}
.detailtravel .descriptionTravel{

  margin-top:6%;

}
=======
.detailTravel img {
    margin-left:2%;
    margin-top: 2%;
}

.detailTravel .descriptionTravel {
  margin-top: 10%;
}
>>>>>>> 6987e6d07df36dbcedbe0fc06d4d53f7613dba00
